@font-face {
    font-family: 'TTLakes';
    src: url('TTLakes-Medium.woff2') format('woff2'),
        url('TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakes';
    src: url('TTLakes-Regular.woff2') format('woff2'),
        url('TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakes';
    src: url('TTLakes-Bold.woff2') format('woff2'),
        url('TTLakes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
